@using FS.Web.Models;

@{
    Layout = "~/Views/Shared/Forum/_ForumLayout.cshtml";
}

@section Title {
    NS Forum: Новая секция
}

@section FSearch {
    <button onclick="Search(this)" id="SearchForumBtn"><img src="/Content/images/HomePage/Lupa.png" width="22" height="22" /></button>
}


@section FPlace {
    <tr id="FPlace">
        <td><center>@Html.ActionLink("<< Секции <<", "FSubsections", "Forum", new { sectionId = @ViewData["FSectionId"] }, new { @class = "HeaderLink" })</center></td>
        <td><center>Новая секция</center></td>
        <td><center>&nbsp;</center></td>
    </tr>
}

<section id="FItems" class="NewItemSection">
    <center>
        @using (Html.BeginForm("NewFSubsection", "Forum", FormMethod.Post))
        {
            <label for="Name">Название</label>
    <input type="text" name="sName" id="STName" maxlength="50" />

            <input type="number" name="sectionId" value="@ViewData["FSectionId"]" style="display:none;" />

            <input type="submit" value="Создать" />
        }
    </center>
</section>
